extends layout

block content
	h1= title
	p #{item.title}

	p #{item.description}

	p R$ #{item.price}

	- if(item.pictures.length)
		each picture in item.pictures
			img(src="#{picture}")

	- if(item.tags.length)
		h2 Tags
		ul
			each tag in item.tags
				li 
					a(href="/items/tag/#{tag}") #{tag}
	br
	br
	a(href="/items")
		input(type='button', value='<< Back')
	br
	br
